[submodule "Reference/Arduino-FOC"]
	path = Reference/Arduino-FOC
	url = https://github.com/simplefoc/Arduino-FOC.git
[submodule "Reference/Ctrl-FOC-Lite"]
	path = Reference/Ctrl-FOC-Lite
	url = https://github.com/peng-zhihui/Ctrl-FOC-Lite.git
[submodule "Software/FOC_Driver"]
	path = Software/FOC_Driver
	url = https://github.com/Aiano/FOC_Driver.git
